.title {
  position: absolute;
  margin: 0;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-primary);
  white-space: nowrap;
}

.compBox,
.button,
.card {
  position: absolute;
}
